@media only screen and (max-width: 1024px) {

    .placeListImage {
        width: 100%;
    }

    .placeListImage {
        width: 100%;
    }

    .withHeight100 {
        width: 100%;
        height: 100%;
    }

    .heartImgPlaces {
        width: 32px;
    }

    .placesListContainerRightSide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .imageTextOverlayContainer{
        position: relative;
        text-align: center;
        color: white;
        border-radius: 10px;
        padding: unset;
    }
    .bottom-left {
        position: absolute;
        bottom: 4px;
        left: 16px;
        font-size: 20px;
    }
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }
    .bottom-right-1 {
        position: absolute;
        bottom: 8px;
        right: 50px;
        font-size: 15px;
    }




}