@media only screen and (min-width: 768px) and (max-width: 800px ){

    .hide-visibility{
        visibility: hidden;
    }
    .leaderboard_li_score_span{
        margin-left: 0px;
    }
    .leaderboard-li{
        border-radius: 40px !important;
        margin-bottom: 10px;
        height: 50px;
        padding-left: 2em !important;
    }
    .leaderboard-page{
        background-image: url("../images/gamification_background_portrait.png") !important;
    }
    /*.question-container{*/
    /*    width: 100px;*/
    /*    height: 40vh !important;*/

    /*}*/

}